*{
  background: #131313;
  margin: 2px;
  padding: 2px;
  font-family: "Roboto" sans-serif;
  line-height: 200%;
  color: #ffffff;
  }
  
  main{
    display: flex;
  }
  h1{
    color: #9483c5;
    font-family: "Pacifico";
  }
  .logo{
  height: 48px;
  width: 120px;
  left: 40px;
  top: 40px;
  border-radius: 0px;
  padding: 10px;
  margin: 15px;
  }
  
  #mensaje{
  height: 100px;
  width: 600px;
  left: 300px;
  top: 200px;
  border: none;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  resize: none;
  color: #ffffff;
  }
  
  .advertencia {
  height: 18px;
  width: 205px;
  left: 24px;
  top: 0px;
  border-radius: nullpx;
  margin:10px;
  padding: 1px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;  
  font-style: italic;
  color: #ffffff;
  }
  
  .encriptarboton{
  text-align: center;
  background: #60528f;
  border: 1px solid black;
  color:white;
  border-radius: 24px;
  height: 50px;
  width: 150px;
  left: 100px;
  top: 0px;
  font-size: 18px;
  align-items: flex-start;
  flex:none;
  flex-grow: 0;
  margin: 15px;
  cursor: pointer;
  }
  
  .encriptarboton:hover{
  background:gray;
  transform: scale(1.2);
  border:rgb(19, 19, 19);
  }
  
  .desencriptarboton{
  text-align: center;
  background: #434444;
  border: 1px solid black;
  color:white;
  border-radius: 24px;
  height: 50px;
  width: 150px;
  left: 100px;
  top: 0px;
  font-size: 18px;
  align-items: flex-start;
  flex:none;
  flex-grow: 0;
  margin: 15px;
  cursor: poRoboto;
  }
  
  .desencriptarboton:hover{
  background:#9483c5 ;
  transform: scale(1.2);
  border:gray;
  }
  
  #resultado{
  right: 100px;
  top: 70px;
  width: 560px;
  height: 500px;
  border-radius: 10px ;
  border-color:#9483c5;
  margin: 20px;
  padding: 30px;
  text-align: center;
  resize: none;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff
  }
  
  #sintexto{
  display: inline;
  position: absolute;
  right: 100px;
  top: 200px;
  text-align: center;
  font-size: 17px;
  font-weight: 400px;
  border: none;
  resize: none;
  color: #ffffff;
  margin-top: 50px;
  
  }
  
  .muñeco{
  right: 200px;
  top: 300px;
  width: 300px;
  height: 300px;
  position: absolute;
  display: inline;
  padding: 5px;
  margin: 2px;
  border-radius: 10px ;
  }
  
  #copiar{
  text-align: center;
  background: #60528f;
  border: 1px solid black;
  color: white;
  border-radius: 24px;
  height: 50px;
  width: 150px;
  left: 100;
  top: 0px;
  font-size: 18px;
  align-items: flex-start;
  flex:none;
  flex-grow: 0;
  margin: 15px;
  cursor: poRoboto;
  }
  
  #copiar:hover{
  background: gray ;
  transform: scale(1.2);
  border:rgb(19, 19, 19);
  }
  
  #escuchar{
  text-align: center;
  background: #434444 ;
  border: 1px solid black;
  color:white;
  border-radius: 24px;
  height: 50px;
  width: 150px;
  left: 100px;
  top: 0px;
  font-size: 18px; 
  align-items: flex-start;
  flex:none;
  flex-grow: 0;
  margin: 15px;
  cursor: poRoboto;
  }
  
  #escuchar:hover{
  background:#9483c5 ;
  transform: scale(1.2);
  border:rgb(19, 19, 19);
  }
  
  footer{
  text-align: center;
  margin: 20px;
  color: white;
  font-size:13px;
  }
  
  .ícono{
  height: 40px;
  width: 60px;
  padding: 5px;
  margin: 5px;
  border-radius: 20%;
  }
